.agent {
  font-size: 1.5em;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 10px;
  flex-grow: 1;
}

.agent .chat-label {
  text-align: center;
  margin: 10px 10px 30px 10px;
  color: var(--jp-inverse-layout-color3);
  /* Avoid triggering drag over */
  pointer-events: none;
}

.agent .svg-icon {
  width: 2em;
  height: 2em;
  fill: var(--jp-border-color0);
  pointer-events: none;
}

.agent-bottom-container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  width: 80%;
  gap: 5px;
}

.agent-bottom-container .button {
  display: flex;
  border: 1px solid var(--jp-border-color2);
  height: 22px;
  align-self: center;
}

.agent-chat-container {
  display: flex;
  position: relative;
  width: 100%;
}

.agent-chat-container span {
  display: flex;
  top: 0px;
  right: 0px;
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.agent-chat-container textarea {
  display: flex;
  background-color: var(--jp-layout-color1);
  border: 1px solid var(--jp-border-color2);
  border-radius: 5px;
  /* border-radius: 0.375em; */
  box-shadow: none;
  color: var(--jp-ui-font-color0);
  font-size: var(--jp-ui-font-size1);
  width: 100%;
  height: 22px;
  max-height: 100px;
  /* line-height: 14px; */
  padding: 0 10px 0px 10px;
  bottom: 0px;
  resize: none;
  overflow-y: scroll;
}

.agent-chat-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 50px;
  /* background-color: var(--jp-layout-color1); */
  /* border: 1px solid var(--jp-border-color2); */
  /* border-radius: 0.375em; */
  /* box-shadow: none; */
  color: var(--jp-ui-font-color0);
  font-size: var(--jp-ui-font-size1);
  line-height: 14px;
  margin: 0;
  padding: 0px 0px 50px 0px;
  text-align: left;
}

.agent-chat-box .user-role {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 3px 15px;
  font-size: medium;
  font-weight: bolder;
  margin: 0;
}

.agent-chat-box .system-role {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 3px 15px;
  font-size: medium;
  font-weight: bolder;
  margin: 0;
}

.agent-chat-box .chat-message {
  display: flex;
  flex-direction: column;
  text-align: justify;
  box-shadow: 0 1px 0 #c3c2c0;
  padding: 5px 15px 15px 15px;
  margin:0;
}