.agent {
  font-size: 1.5em;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 10px;
  flex-grow: 1;
  border: 3px dashed var(--jp-border-color0);
  border-radius: 12px;
  transition: border 300ms ease-in-out;
}

.agent.drag-over {
  border: 3px dashed var(--md-blue-400);
}

.agent .chat-label {
  text-align: center;
  margin: 10px 10px 30px 10px;
  color: var(--jp-inverse-layout-color3);
  /* Avoid triggering drag over */
  pointer-events: none;
}

.agent .svg-icon {
  width: 2em;
  height: 2em;
  fill: var(--jp-border-color0);
  pointer-events: none;
}

.agent-bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 5px;
}

.agent-bottom-container .button {
  display: flex;
  border: 1px solid var(--jp-border-color2);
  height: 22px;
  align-self: center;
}

.agent-chat-container {
  display: flex;
  position: relative;
  width: 100%;
}

.agent-chat-container span {
  display: flex;
  top: 0px;
  right: 0px;
  position: absolute;
  width: 100%;
  pointer-events: none;
}

/* Use a slightly modified input style */
.agent-chat-container input {
  display: flex;
  background-color: var(--jp-layout-color1);
  border: 1px solid var(--jp-border-color2);
  border-radius: 0.375em;
  box-shadow: none;
  color: var(--jp-ui-font-color0);
  display: block;
  font-size: var(--jp-ui-font-size1);
  height: 22px;
  width: 100%;
  line-height: 14px;
  padding: 0 10px 0 10px;
  text-align: left;
  justify-self: left;
}

.agent-chat-container input:hover {
  border-color: var(--jp-border-color0);
}